{% extends "base.html" %}
{% block title %}Blog Post{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        {% if action == "new" %}
            <h3>New Blog Post</h3>
        {% else %}
            <h3>Edit Blog Post</h3>
        {% endif %}
        
        {% from "_formhelpers.html" import render_field %}
        
        {% if action == "new" %}
            <form method="POST" action="{{ url_for('post') }}" enctype="multipart/form-data" role="form">
            {% set button_title='Post' %}
        {% else %}
            <form method="POST" action="{{ url_for('edit', post_id=post.id) }}" enctype="multipart/form-data" role="form">
            {% set button_title='Update' %}
        {% endif %}
            {{ form.hidden_tag() }}
            
            {% if post and post.image %}
                <img src="{{ post.imgsrc }}" height="80px" class="img-rounded" />
            {% endif %}
            
            {{ render_field(form.image, class='form-control') }}
            {{ render_field(form.title, class='form-control') }}
            {{ render_field(form.body, class='form-control', rows=10) }}
            {{ render_field(form.category, class='form-control') }}
            {{ render_field(form.new_category, class='form-control') }}
            
            <button type="submit" class="btn btn-default">{{ button_title }}</button>
        </form>
    </div>
</div>
{% endblock %}